<script src="https://www.google.com/recaptcha/api.js?onload=vcRecaptchaApiLoaded&render=explicit" async defer></script>

<div ng-controller="Petition">
    <form name="PetitionForm" novalidate class="petition-form">
        <table style="margin: auto">
            <tr>
                <td>
                    <label for="name">Name</label>
                    <div class="field-hint">REQUIRED</div>
                </td>
                <td>
                    <input id="name" name="name" type="text" size="25" placeholder="Your full name (eg: John Doe)" ng-model="Petition.Name" ng-minlength="2"
                    ng-required="true" />
                    <div class="custom-error" ng-show="PetitionForm.name.$dirty && PetitionForm.name.$invalid">please enter a valid name</div>
                </td>
            </tr>
            <tr>
                <td>
                    <label for="email">Email</label>
                    <div class="field-hint">OPTIONAL</div>
                </td>
                <td>
                    <input id="email" name="email" type="email" size="25" placeholder="Your email (eg: me@domain.com)" ng-model="Petition.Email"
                    />
                    <div class="custom-error" ng-show="PetitionForm.email.$dirty && PetitionForm.email.$invalid">please enter a valid email</div>
                </td>
            </tr>
            <tr>
                <td>
                    <label for="location">Location</label>
                    <div class="field-hint">REQUIRED</div>
                </td>
                <td>
                    <input id="location" name="location" type="text" size="25" placeholder="Your location (eg: Los Angeles)" ng-model="Petition.Location"
                    ng-minlength="2" ng-required="true" />
                    <div class="custom-error" ng-show="PetitionForm.location.$dirty && PetitionForm.location.$invalid">please enter a valid location</div>
                </td>
            </tr>
            <tr>
                <td colspan="2" class="td-recaptcha">
                    <div id="recaptcha" class="recaptcha" vc-recaptcha key="Recaptcha.Key" on-create="Recaptcha.OnCreate(widgetId)" on-success="Recaptcha.OnSuccess(response)"
                    on-expire="Recaptcha.OnExpire()"></div>
                    <div class="custom-error" ng-show="PetitionForm.$dirty && Recaptcha.HasNoResponse()">captcha error</div>
                </td>
            </tr>
            <tr>
                <td colspan="2" style="text-align: center">
                    <input id="notify" name="notify" ng-model="Petition.Notify" type="checkbox" />
                    <label for="notify">Notify me on updates!</label>
                </td>
            </tr>
            <tr>
                <td colspan="2" style="text-align: center">
                    <input type="submit" class="btn" value="Sign the petition!" ng-click="Submit(Petition)" ng-disabled="PetitionForm.$invalid || Submitting"
                    />
                </td>
            </tr>
        </table>
    </form>
</div>